/* extra large screens, TV */
@media only screen and (min-width: 1201px) {
    .card {
        width:600px;
    }
}

/* desktop, large screens */
@media only screen and (max-width: 1200px) {
    .card {
        width:600px;
    }
}

/* small screens, laptops */
@media only screen and (max-width: 1024px) {
    .card {
        /* width:70%; */
        width:540px;
    }
}

/* tablets */
@media only screen and (max-width: 769px) {
    .card {
        width: 75%;
    }
}

/* mobile devices */
@media only screen and (max-width: 480px) {
    .card {
        width: 90%;
    }
}