
@media only screen and (max-width: 1440px) {
    .card {
        width: 500px;
    }
}
@media only screen and (max-width: 375px) {
    .card {
        width: 300px;
    }
    body {
        background-color:red;
    }
}