:root {
    /* primary */
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --background:hsl(185, 75%, 39%);

    /* neutral */
    --dark-gray:hsl(0, 0%, 59%);

    /* background-circles positioning */
    --top-bottom-diff: -50vh;
    --left-right-diff:-50vw;
}

/* --------- Dependancy classes --------- */
.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.p-0 {
    padding:0;
}

.m-0 {
    margin:0;
}

.font-weight-regular {
    font-weight: 400;
}

.center {
    text-align:center;
}

.border-top-gray {
    border-top:1px solid var(--dark-gray);
}

.color-gray {
    color:var(--dark-gray);
}

.color-navy {
    color:var(--dark-desaturated-blue);
}

.drop-shadow {
    filter: drop-shadow(0 0 0.1em var(--dark-gray));
}

/* --------- Container stylings  --------- */
body {
    margin:0;
    padding:0;
    box-sizing: border-box;

    background:
    url('images/bg-pattern-top.svg') no-repeat left 50vw top 50vh, 
    url('images/bg-pattern-top.svg') no-repeat right 50vw bottom 50vh;
    background-color: var(--background);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    /* width:600px; */ /** width - set up in mediaQueries.css */
    background-color:whitesmoke;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.card-bg {
    background: url('images/bg-pattern-card.svg') no-repeat center center/cover;
    width: 100%;
    height:180px;
}

/* --------- avatar --------- */
.avatar-container {
    margin-top:-70px;
}

.avatar-container > img {
    border-radius: 50%;
    border:6px solid #fff; /* odd number for border width adds a visible gap between the img and its border in Chrome */
    width: 130px;
}


/* --------- Personal info section --------- */
.personal-info {
    padding:15px 0 30px 0;
}

.personal-info > span:last-child {
    padding-top: 10px;
}


/* --------- numbers info section --------- */
.about-number {
    font-size: 20px;
    font-weight: bold;
}

.about-number::after {
    content:'K'
}

.about-label {
    font-size: 11px;
    padding-top: 5px;
    letter-spacing: 2px;
}


/* --------- flex classes --------- */
.number-section {
    display: flex;
    justify-content: space-around;
    padding:30px 0;
}

.number-section > div {
    flex:1;
}